.syntax--python {
    .syntax--meta {
        &.syntax--function-call {
            color: @syntax-variable;
            .syntax--arguments {
                color: @syntax-variable;

                &.syntax--punctuation {
                    color: @syntax-punctuation;
                }
            }
        }
    }
    .syntax--variable {
        &.syntax--self {
            color: @syntax-variable;
        }
        &.syntax--parameter {
            color: @syntax-variable;
        }
    }
    .syntax--meta {
        .syntax--punctuation {
            &.syntax--inheritance, &.syntax--section {
                color: @syntax-punctuation;
            }
        }
    }
    .syntax--keyword {
      color: @syntax-keyword;
        &.syntax--operator {
            color: @syntax-operator;
            &.syntax--logical, &.syntax--comparison {
              color: @syntax-logical;
            }
        }
        &.syntax--other {
          color: @syntax-function;
        }
    }
}
